{% extends "WebBundle:Default:layout.html.twig" %}

{% block title %}Create new contact{% endblock %}

{% block body %}
<h1>Create a new contact</h1>

{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}
{% endblock %}
