{% extends "WebBundle:Default:layout.html.twig" %}

{% block body %}
<h1>{{'contacts.actions.search'|trans}}</h1>

<div class="results">
    {% for card in cards %}
        {{render(controller('WebBundle:Contact:smallCard', {'card': card}))}}
    {% endfor %}
</div>

{% endblock %}
