<section class="card card--small">
    <h3 class="card__title">
        <a href="{{path('app_contact', {'contactID': card.id})}}">{{card.name}}</a>
    </h3><!-- .card__title -->
</section><!-- .card -->
