/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
*.log
.vagrant/*

# NodeJS and NPM ignored files
node_modules/*
npm-debug.log
etc/

# Gulp generated ignored files
web/css/*
!web/css/.gitkeep
web/js/*
!web/js/.gitkeep

# Address Formatting Bundle has a custom repository
src/CitizenKey/AddressFormatterBundle
src/CitizenKey/WebBundle
