<header>
    Welcome {{user.username}}

    <nav>
        <ul class="menu">
            <li>
                <a href="{{ path('app_platform_dashboard') }}">Platform</a>
            </li>
        </ul>
    </nav>
    <hr>
</header>
