{% extends 'WebBundle:Default:layout.html.twig' %}

{% block body %}
    <form action="{{ path('app_login_check') }}" method="POST">
        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}

        <div>
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="abc@domain.ext" value="{{ last_username }}">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit">Login</button>
    </form>
{% endblock %}
