/**
 * Header generic styles
 *
 * This stylesheet contains all declarations used by the application header.
 *
 * Root selector: .banner
 *
 * @author Damien Senger <damien@raccoon.studio>
 */

.banner {
  display: flex;
    justify-content: space-between;
    align-items: center;
  background: $brand-primary;
  color: $white;

  &__nav {
    @extend .nav;
    @extend .nav-pills;
  }

  &__nav-link {
    @extend .nav-link;
    color: $white;
  }
}
