{# Component displaying all email entries for a contact #}

<h3>{{'addresses.title'|trans}}</h3>
<ul>
    {% if addresses %}
        {% for address in addresses %}
        <li>
            {{render(controller('WebBundle:Address:getInlineAddress', {'addressID': address.id}))}}
        </li>
        {% endfor %}
    {% endif %}
    <li>
        <a href="{{path('app_address_new', {'contact': contactID})}}">{{'generic.add'|trans}}</a>
    </li>
</ul>
