{% extends "WebBundle:Default:layout.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<h1>Welcome {{ user.username }} to the dashboard</h1>
<dl>
    <dt>Platform</dt>
    <dd><a href="{{ path('app_platform_dashboard') }}">{{ platform.name }}</a></dd>
</dl>
{% endblock %}
