{% extends "::base.html.twig" %}

{% block title %}WebBundle:Dashboard:index{% endblock %}

{% block body %}
<h1>Welcome to the Dashboard:index page</h1>
<dl>
    <dt>Platform</dt>
    <dd><a href="{{ path('app_platform_dashboard') }}">{{ platform.name }}</a></dd>
</dl>
{% endblock %}
